@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  margin: 0;
  background: #eef3f8;
  color: #14213d;
}

button, a {
  -webkit-tap-highlight-color: transparent;
}
